@using Microsoft.AspNetCore.Hosting
@using Microsoft.AspNetCore.Mvc.ViewEngines
@inject IWebHostEnvironment Environment
@inject ICompositeViewEngine Engine
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - IdeaBank</title>
  <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
  <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
  <main role="main" class="pb-3">
    @RenderBody()
  </main>
  <footer class="py-5 text-muted text-center text-small">
    <hr />
      &copy; 2021 <br />
      Denne hjemmeside gør brug af strengt nødvendige cookies til autentificering.
      <a href="https://ec.europa.eu/info/cookies_da" target="_blank">Læs mere her</a>
  </footer>
  <script src="~/Identity/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/Identity/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/Identity/js/site.js" asp-append-version="true"></script>
  @RenderSection("Scripts", required: false)
</body>
</html>
