<CascadingAuthenticationState>
  <Router AppAssembly="@typeof(Program).Assembly">
      <Found Context="routeData">
          <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
      </Found>
      <NotFound>
        <LayoutView Layout="@typeof(SecondaryLayout)">
            <h3 class="text-center" style="margin-top: 10%">Beklager, der er intet på denne addresse.</h3>
            <center>
                <img class="mt-1" src="confusedstickman.png" />
            </center>
        </LayoutView>
      </NotFound>
  </Router>
</CascadingAuthenticationState>
