.table-hover tr {
    cursor: pointer;
}

tr, td, th {
    border-style: none;
}

body {
    overflow-y: scroll;
}

.bgImg {
    background-attachment:fixed;
    background-image: url("../aap.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header-string {
    margin: 0 30% 0 30%;
    border: none;
    height: 2px;
    color: var(--bs-primary); 
    background-color: var(--bs-primary);
} 

textarea {
    resize: none;
}

.rounded-cos {
    border-radius: 12px;
    box-shadow: 1px 1px 12px 1px #00000013;
}

.table-primary td {
    padding: 15px 10px 15px 10px;
}

.table-primary th {
    padding-top: 20px;
    padding-bottom: 20px;
}

.groove {
    border-style: groove;
}

.pop-up-box {
    width: 45%;
}

.modal-open {
    padding: 0px !important;
}
