@page
@model IndexModel
@{
    ViewData["Title"] = "Administrator";
    ViewData["ActivePage"] = ManageNavPages.Administrator;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
      <h2>Logged in as @User.Identity?.Name</h2>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}