@page
@model IndexModel
@{
    ViewData["Title"] = "Administrator";
    ViewData["ActivePage"] = ManageNavPages.Administrator;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
  <div class="col-md-6">
    <h2>Logged in as @User.Identity?.Name</h2>
    <p>You can now edit and delete ideas. You can also change the text on the guide side.</p>
    <h4>Two-factor authorization</h4>
    <p>It is important that you set up two Two-factor authorization on all admin accounts to ensure a secure idea bank. </p>
  </div>
</div>
@section Scripts {
  <partial name="_ValidationScriptsPartial" />
}