@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="container form-signin bg-light rounded-cos">
  <form id="account" method="post">
    <h2 class="text-center">Log in</h2>
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="form-group my-3">
      <label asp-for="Input.UserName"></label>
      <input asp-for="Input.UserName" class="form-control rounded-cos" />
      <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-group my-3">
      <label asp-for="Input.Password"></label>
      <input asp-for="Input.Password" class="form-control rounded-cos" />
      <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label asp-for="Input.RememberMe">
          <input asp-for="Input.RememberMe" />
          @Html.DisplayNameFor(m => m.Input.RememberMe)
        </label>
      </div>
    </div>
    <div class="form-group d-flex">
      <a href="../../" class="btn btn-secondary rounded-cos w-50 mt-4 mx-1">Tilbage</a>
      <button type="submit" class="btn btn-primary rounded-cos w-50 mt-4 mx-1">Log in</button>
    </div>
  </form>
</div>
  @section Scripts {
    <partial name="_ValidationScriptsPartial" />
  }
