<footer class="py-5 bgImg text-muted text-center text-small">
    <p class="mb-1 text-white">
      &copy;
      2021
    </p>
    <p class="mb-1 text-white">
      Denne hjemmeside gør brug af strengt nødvendige cookies til autentificering.
      <a href="https://ec.europa.eu/info/cookies_da" style="color: white">Læs mere her.</a>
    </p>
</footer>