<AuthorizeView>
    <Authorized>
        <div class="d-flex justify-content-between">
            <NavLink href="/Settings" class="me-3">
                <button type="button" class="btn btn-outline-light">Indstillinger</button>
            </NavLink>
            <a href="Identity/Account/Manage" class="me-3">
                <button type="button" class="btn btn-outline-light">Konto</button>
            </a>
            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="btn btn-outline-light">Log ud</button>
            </form>
        </div>
    </Authorized>
    <NotAuthorized>
        <NavLink href="Identity/Account/Login">
            <button type="button" class="btn btn-outline-light">Admin login</button>
        </NavLink>
    </NotAuthorized>
</AuthorizeView>
