@page
@model IdeaBank.Pages.ErrorModel

<!DOCTYPE html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Error</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/app.css" rel="stylesheet" />
</head>

<header class="p-3 shadow bg-primary text-white">
  <div class="container">
    <div class="d-flex justify-content-between">
      <NavLink href="/">
        <img src="/svg/logo.svg" />
      </NavLink>
    </div>
  </div>
</header>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger text-center" style="margin-top: 10%;">Fejl <code>@Response.StatusCode</code></h1>
            <h2 class="text-center">En fejl skete under behandlingen af din forespørgsel.</h2>
            <center>
                <img style="margin-top: 2%" src="confusedstickman.png" />
            </center>
        </div>
    </div>
</body>