@page "/Guide"

<div class="bgImg">
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto">
                <div class="d-flex flex-row justify-content-center"><h1 class="fw-light">Idébank guide</h1></div>
                <div class="float-container">
                  <p class="fs-5 py-1">Introtekst</p>
                </div>
            </div>
        </div>
    </section>
</div>

<section class="py-5 bg-light">
    <div class="container p-0">
        <h3 class="text-center">Idébankens formål</h3>
        <p class="text-center mb-5">Tekst fra Aalborg portland omkring hvad de ansatte kan forvente af idebanken.</p>
        <div class="row">
            <div class="column">
                <h3 class="text-center">Forsiden</h3>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim q
                ui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                Nam liber tempor soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            </div>
            <div class="column">
                <h3 class="text-center">Indsend idé</h3>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim q
                ui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi.
                Nam liber tempor soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum.
            </div>
        </div>
    </div>
    <section class="py-5 text-center container">
        <div class="col-lg-6 col-md-6 mx-auto">
            <NavLink href="/">
                <button class="btn btn-lg btn-primary my-1 p-3 rounded-cos">Tilbage</button>
            </NavLink>
        </div>
    </section>
</section>