@page "/"
@using IBBusinessLogicLib
@using IBDataAccessLib.Models
@using Microsoft.Extensions.Configuration 

@inject dataAcces _data
@inject IConfiguration _config


<main>
    <div class="bgImg">
        <section class="py-4 text-center container">
            <div class="row py-lg-5">
                <div class="col-lg-6 col-md-6 mx-auto">
                    <div class="d-flex flex-row justify-content-center"><h1 class="fw-light">Aalborg Portland Idébank</h1><h4 class="text-primary">Prototype</h4></div>
                    <p class="fs-5 py-1">
                        Velkommen til Aalborg Portland's idébank. Her er der mulighed for at indsende dine egne
                        idéer til eventuelle forbedringer eller ændringer.
                    </p>
                    <NavLink href="/NewIdea">
                        <button class="btn btn-lg btn-primary my-2 p-4">Tilføj ny idé</button>
                    </NavLink>
                </div>
            </div>
        </section>
    </div>

    <section class="py-5 bg-light">
        <div class="container">
            <h2 class="text-center">kat</h2>
            <p class="text-center">Klik på en idé for at læse mere </p>
            <p class=" text-center text-danger mb-4">Da dette en mark-up, er det kun de to første idéer i listen, der kan klikkes på.</p>
            <div class="row table-responsive rounded-cos">
                <table class="table my-0 table-primary table-striped table-hover">
                    <thead>
                        <tr>
                            <th scope="col" class="bg-primary text-white">
                                Projektnavn <img src="/svg/filter.svg" />
                            </th>
                            <th scope="col" class="bg-primary text-white">
                                Forretningsenhed <img src="/svg/filter.svg" />
                            </th>
                            <th scope="col" class="bg-primary text-white">
                                Afdeling <img src="/svg/filter.svg" />
                            </th>
                            <th scope="col" class="bg-primary text-white">
                                Status <img src="/svg/filter.svg" />
                            </th>
                            <th scope="col" class="bg-primary text-white">
                                Prioritet <img src="/svg/filter.svg" />
                            </th>
                            <th scope="col" class="bg-primary text-white">
                                Dato <img src="/svg/sort-down.svg" />
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var idea in _data.loadData(_config.GetConnectionString("Default")))
                        {
                            //Modal modal = new(idea);
                            //@onclick= "() => modal.Open()
                            <tr title="Klik for at læse mere">
                                <td>@idea.ProjectName</td>
                            </tr>
                    //<Modal @ref="modal"></Modal>
                }
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>