@page "/NewIdea"
@using Microsoft.Extensions.Configuration
@using BusinessLogicLib.Interfaces;



<main class="bgImg">
  <section class="py-4 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-6 mx-auto">
        <h1 class="fw-light">Tilføj ny idé</h1>
        <p class="fs-5 py-1">
          På denne side kan du indsende din egen idé til idébanken.
          Udfyld den nedenstående formular for at tilføje en idé.
        </p>
      </div>
    </div>
  </section>

  <section class="p-5 bg-light">
    <div class="container col-lg-8 mx-auto p-3 py-1">
      <h3>Udfyld formularen</h3>
      <p class="mb-1">Indsend eventuelt idéer relateret til optimering af processor, bedre udnyttelse af ressourcer eller andre lignende projektidéer.</p>
      <p>Bemærk at du ikke kan foretage ændringer, efter idéen er gemt.</p>
      <p class="mb-4 text-danger">*Skal udfyldes</p>
      <div class="row g-5">
        <EditForm Model="@_idea" OnValidSubmit="@HandleValidSubmit">
          <DataAnnotationsValidator />
          <div class="row g-3">
            <div class="col-sm-8">
              <label class="form-label">Projektnavn<label class="text-danger">*</label></label>
              <div class="input-group">
                <InputText type="text" class="form-control" placeholder="Titel på projektet" required
                           @bind-Value="_idea.ProjectName" maxlength=75 DisplayName="Projektnavn"></InputText>
              </div>
            </div>

            <div class="col-sm-4">
              <label class="form-label">Initialer<label class="text-danger">*</label></label>
              <div class="input-group">
                <InputText type="text" class="form-control" placeholder="AAA" required
                           @bind-Value="_idea.Initials" maxlength=5 />
                <div class="invalid-feedback">Initialer blev ikke godkendt.</div>
              </div>
            </div>

            <div class="col-12 mb-4">
              <div class="form-group">
                <label class="form-label">Idébeskrivelse<label class="text-danger">*</label></label>
                <InputTextArea class="form-control" rows="3" maxlength=1500 placeholder="Beskrivelse af idéen og andet relavant information" required @bind-Value="_idea.Description"></InputTextArea>
              </div>
            </div>
            <div class="col-md-3">
              <div>
                <label class="form-label text-primary">Din forretningsenhed</label>
              </div>
              <InputSelect class="form-select" @bind-Value="_idea.AuthorBusinessUnit">
                <option value="1" selected class="text-muted">Ikke angivet</option>
                <option value="2">Aalborg Portland</option>
                <option value="3">Unicon DK</option>
                <option value="4">Unicon NO</option>
                <option value="5">Kudsk & Dahl</option>
              </InputSelect>
            </div>
            <div class="col-md-3">
              <div>
                <label class="form-label text-primary">Din afdeling</label>
              </div>
              <InputSelect class="form-select" @bind-Value="_idea.AuthorDepartment">
                <option value="1" selected class="text-muted">Ikke angivet</option>
                <option value="2">Salg</option>
                <option value="3">SCM</option>
                <option value="4">Produktion</option>
                <option value="5">Vedligehold</option>
                <option value="6">Finans</option>
                <option value="7">HR</option>
                <option value="8">PMO & Trans</option>
              </InputSelect>
            </div>
            <div class="col-md-3">
              <div>
                <label class="form-label">Vedrørende forretningsenhed</label>
              </div>
              <InputSelect class="form-select" @bind-Value="_idea.IdeaBusinessUnit">
                <option value="1" selected class="text-muted">Ikke angivet</option>
                <option value="2">Aalborg Portland</option>
                <option value="3">Unicon DK</option>
                <option value="4">Unicon NO</option>
                <option value="5">Kudsk & Dahl</option>
              </InputSelect>
            </div>
            <div class="col-md-3">
              <div>
                <label class="form-label">Vedrørende afdeling</label>
              </div>
              <InputSelect class="form-select" @bind-Value="_idea.IdeaDepartment">
                <option value="1" selected class="text-muted">Ikke angivet</option>
                <option value="2">Salg</option>
                <option value="3">SCM</option>
                <option value="4">Produktion</option>
                <option value="5">Vedligehold</option>
                <option value="6">Finans</option>
                <option value="7">HR</option>
                <option value="8">PMO & Trans</option>
              </InputSelect>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Plan</label>
                <p class="form-label small-text">Forventet varighed, ønsket start og deadline. </p>
                <InputTextArea class="form-control" rows="3" maxlength=500 placeholder="Plan for projektet" @bind-Value="_idea.Plan"></InputTextArea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Forventet resultat</label>
                <p class="form-label small-text">Hvad der forventes at opnå med projektet. </p>
                <InputTextArea class="form-control" rows="3" maxlength=500 placeholder="Det resultat der forventes efter projektets gennemførsel" @bind-Value="_idea.ExpectedResults"></InputTextArea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Team</label>
                <p class="form-label small-text">Arbejdstitel eller initialer på deltagere i projektet.</p>
                <InputText type="text" class="form-control" maxlength=75 placeholder="AAA, BBB, CCC" @bind-Value="_idea.Team"></InputText>
              </div>
            </div>
            <div>
              <label class="my-2">Skjul idéen (kun administratorer vil kunne se idéen)</label>
              <label class="switch d-flex">
                <input @bind="_idea.IsHidden" type="checkbox">
                <span class="slider"></span>
                <span class="text-checked">Kun administratorer kan se idéen</span>
                <span class="text-not-checked">Alle kan se idéen</span>
              </label>
            </div>

          </div>
          <hr class="my-4">
          <div class="d-flex justify-content-between">
            <button class="btn my-2 btn-secondary btn-lg" @onclick="Regret" type="button">Fortryd</button>
            <button type="submit" class="my-2 btn btn-primary btn-lg">Indsend idé</button>
          </div>
        </EditForm>
      </div>
    </div>
  </section>
</main>