@page "/NewIdea"
@using Microsoft.Extensions.Configuration
@using BusinessLogicLib.Models;
@using BusinessLogicLib.Interfaces;

@inject NavigationManager NavManager

@inject IIdeasDataAccess _ideas

@inject IConfiguration _config

@inject IJSRuntime JsRuntime

<main class="bgImg">
  <section class="py-4 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-6 mx-auto">
        <h1 class="fw-light">Tilføj ny idé</h1>
        <p class="fs-5 py-1">
          På denne side kan du indsende din egen idé til idébanken.
          Udfyld den nedenstående formular for at tilføje en idé.
        </p>
      </div>
    </div>
  </section>

  <section class="p-5 bg-light">
    <div class="container col-lg-8 mx-auto p-3 py-1">
      <h3>Udfyld formularen</h3>
      <p>Bemærk at du ikke kan foretage ændringer efter den er gemt.</p>
      <p class="mb-4 text-danger">*Skal udfyldes</p>
      <div class="row g-5">
        <EditForm Model="@idea" OnValidSubmit="@HandleValidSubmit">
          <DataAnnotationsValidator />
          <ValidationSummary />
          <div class="row g-3">
            <div class="col-sm-8">
              <label class="form-label">
                Projektnavn<label class="text-danger">*</label>
              </label>
              <div class="input-group">
                <InputText type="text" class="form-control" placeholder="Projektnavn" required
                           @bind-Value="idea.ProjectName" maxlength=75 DisplayName="Projektnavn"></InputText>
              </div>
            </div>

            <div class="col-sm-4">
              <label class="form-label">
                Initialer<label class="text-danger">*</label>
              </label>
              <div class="input-group">
                <InputText type="text" class="form-control" placeholder="AAA" required
                           @bind-Value="idea.Initials" maxlength=5 />
                <div class="invalid-feedback">Initialer er noget værre noget.</div>
              </div>
            </div>

            <div class="col-12 mb-4">
              <div class="form-group">
                <label>
                  Idébeskrivelse<label class="text-danger">*</label>
                </label>
                <InputTextArea class="form-control" rows="3" maxlength=1500 placeholder="Problemdefinition og afgrænsning" required @bind-Value="idea.Description"></InputTextArea>
              </div>
            </div>
            <div class="col-md-3">
              <div title="Den forretningsenhed som idéen vedrører">
                <label class="form-label">Forretningsenhed</label>
                <img src="svg/question-circle.svg">
              </div>
              <InputSelect class="form-select" required @bind-Value="idea.BusinessUnit">
                <option value="1" selected class="text-muted">Ikke angivet</option>
                <option value="2">Aalborg Portland</option>
                <option value="3">Unicon DK</option>
                <option value="4">Unicon NO</option>
                <option value="5">Kudsk & Dahl</option>
              </InputSelect>
            </div>
            <div class="col-md-3">
              <div title="Den afdeling som idéen vedrører">
                <label class="form-label">Afdeling</label>
                <img src="svg/question-circle.svg">
              </div>
              <InputSelect class="form-select" @bind-Value="idea.Department">
                <option value="1" selected class="text-muted">Ikke angivet</option>
                <option value="2">Salg</option>
                <option value="3">SCM</option>
                <option value="4">Produktion</option>
                <option value="5">Vedligehold</option>
                <option value="6">Finans</option>
                <option value="7">HR</option>
                <option value="8">PMO & Transformation</option>
              </InputSelect>
              <div class="invalid-feedback">
                Vælg venligst en afdeling
              </div>
            </div>
            <div class="col-md-6">
              <label class="form-label">Team</label>
              <div class="input-group">
                <InputText type="text" class="form-control" maxlength=75 placeholder="Hvem skal være med?" @bind-Value="idea.Team"></InputText>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Plan</label>
                <InputTextArea class="form-control" rows="3" maxlength=500 placeholder="Forventet varighed, ønsket start og/eller deadline" @bind-Value="idea.Plan"></InputTextArea>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label>Forventet resultat</label>
                <InputTextArea class="form-control" rows="3" maxlength=500 placeholder="Forventet resultat" @bind-Value="idea.ExpectedResults"></InputTextArea>
              </div>
            </div>
            <div>
              <label class="my-2">Skjul ideen (kun administrator vil ikke kunne se ideen)</label>
              <label class="switch d-flex">
                <input @bind="idea.IsHidden" type="checkbox">
                <span class="slider"></span>
                <span class="text-checked">Kun administrator kan se ideen</span>
                <span class="text-not-checked">Alle kan se ideen</span>
              </label>
            </div>

          </div>
          <hr class="my-4">
          <div class="d-flex justify-content-between">
            <button class="btn my-2 btn-secondary btn-lg" @onclick="Regret" type="button">Fortryd</button>
            <button type="submit" class="my-2 btn btn-primary btn-lg">Indsend idé</button>
          </div>
        </EditForm>
      </div>
    </div>
  </section>
</main>

@code {
    private NewIdea idea = new();

    private async void HandleValidSubmit()
    {
      try
      {
        await _ideas.Insert(idea);
        NavManager.NavigateTo("/");
      }
      catch (Exception ex)
      {
        throw new Exception(ex.Message);
        // skriv en fejl besked til brugern
      }

    }
    private async void Regret()
    {
      if (string.IsNullOrEmpty(idea.ProjectName) &&
          string.IsNullOrEmpty(idea.Description) &&
          string.IsNullOrEmpty(idea.Initials) &&
          string.IsNullOrEmpty(idea.ExpectedResults) &&
          string.IsNullOrEmpty(idea.Team))
      {
        NavManager.NavigateTo("/");
      }
      else
      {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Are you sure?");
        if (confirmed)
          NavManager.NavigateTo("/");
      }
    }
}