@page "/NewIdea"
@using BusinessLogicLib
@using Microsoft.Extensions.Configuration
@inject NavigationManager NavManager

@inject IConfiguration _config

<main class="bgImg">
    <section class="py-4 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-6 mx-auto">
                <h1 class="fw-light">Tilføj ny idé</h1>
                <p class="fs-5 py-1">
                    På denne side kan du indsende din egen idé til idébanken.
                    Udfyld den nedenstående formular for at tilføje en idé.
                </p>
            </div>
        </div>
    </section>

    <section class="p-5 bg-light">
        <div class="container col-lg-8 mx-auto p-3 py-1">
            <h3>Udfyld formularen</h3>
            <p>Bemærk at du ikke kan foretage ændringer efter den er gemt.</p>
            <p class="mb-4 text-danger">*Skal udfyldes</p>
            <div class="row g-5">

                <EditForm Model="@idea" OnValidSubmit="@HandleValidSubmit">
                    <DataAnnotationsValidator />
                    <ValidationSummary/>
                    <div class="row g-3">
                        <div class="col-sm-8">
                            <label for="projectName" class="form-label">
                                Projektnavn<label class="text-danger">*</label>
                            </label>
                            <div class="input-group">
                                <InputText type="text" class="form-control" id="projectName" placeholder="Projektnavn" required @bind-Value="idea.ProjectName" DisplayName="Projektnavn"></InputText>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <label for="initials" class="form-label">
                                Initialer<label class="text-danger">*</label>
                            </label>
                            <div class="input-group">
                                <InputText type="text" class="form-control" id="initials" placeholder="AAA" required @bind-Value="idea.Initials" />
                                <div class="invalid-feedback">Initialer er noget værre noget.</div>
                            </div>
                        </div>

                        <div class="col-12 mb-4">
                            <div class="form-group">
                                <label for="ideaDescription">
                                    Idébeskrivelse<label class="text-danger">*</label>
                                </label>
                                <InputTextArea class="form-control" id="ideaDescription" rows="3" placeholder="Problemdefinition og afgrænsning" required @bind-Value="idea.Description"></InputTextArea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div title="Den forretningsenhed som idéen vedrører">
                                <label for="businessUnit" class="form-label">Forretningsenhed</label>
                                <img src="svg/question-circle.svg">
                            </div>
                            <InputSelect class="form-select" id="businessUnit" required @bind-Value="idea.BusinessUnit">
                                <option value="" selected class="text-muted">Ikke angivet</option>
                                <option value="1">Aalborg Portland</option>
                                <option value="2">Unicon DK</option>
                                <option value="3">Unicon NO</option>
                                <option value="4">Kudsk & Dahl</option>
                            </InputSelect>
                            <div class="invalid-feedback">
                                Vælg venligst en forretningsenhed.
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div data-bs-toggle="tooltip" title="" data-bs-original-ti>
                                <label for="department" class="form-label">Afdeling</label>
                                <img src="svg/question-circle.svg">
                            </div>
                            <InputSelect class="form-select" id="department" @bind-Value="idea.Department">
                                <option value="" selected class="text-muted">Ikke angivet</option>
                                <option value="1">Salg</option>
                                <option value="2">SCM</option>
                                <option value="3">Produktion</option>
                                <option value="4">Vedligehold</option>
                                <option value="5">Finans</option>
                                <option value="6">HR</option>
                                <option value="7">PMO & Transformation</option>
                            </InputSelect>
                            <div class="invalid-feedback">
                                Vælg venligst en afdeling
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="initials" class="form-label">Team</label>
                            <div class="input-group has-validation">
                                <InputText type="text" class="form-control" id="initials" placeholder="Hvem skal være med?" @bind-Value="idea.Team"></InputText>
                                <div class="invalid-feedback">Initialer er noget værre noget.</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="plan">Plan</label>
                                <InputTextArea class="form-control" id="plan" rows="3" placeholder="Forventet varighed, ønsket start og/eller deadline" @bind-Value="idea.Plan"></InputTextArea>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="expectedResults">Forventet resultat</label>
                                <InputTextArea class="form-control" id="expectedResults" rows="3" placeholder="Forventet resultat" @bind-Value="idea.ExpectedResults"></InputTextArea>
                            </div>
                        </div>

                    </div>
                    <hr class="my-4">
                    <div class="d-flex justify-content-between">
                        <NavLink href="/">
                            <button class="btn my-2 btn-secondary btn-lg" type="button">Fortryd</button>
                        </NavLink>
                        <button class="my-2 btn btn-primary btn-lg" type="submit">Indsend idé</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </section>
</main>

@code {
    private NewIdea idea = new();

    private void HandleValidSubmit()
    {
        InsertToDB insert = new();
        insert.InsertIdea(_config.GetConnectionString("Default"), idea);
        NavManager.NavigateTo("/");
        // Process the valid form
    }
}